
:root{
    --mainColor: #251a2e;
    --headerColor: #1a0f18;
    --asideColor: #1a0f18;
    --windowColor: #1a0f18;
    --higlight: #F2845C;
    --higlightSelected: #fc9595;
    --textColor: #adad99;
    --textSecundary: #74665A;
    --texHighlight: #ffffff;
}


html, body {

    align-self: center;
    justify-self: center;
    margin: auto;

    background-color: var(--mainColor);
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
    color: var(--textColor);

    overflow: hidden;

}



div {

    &.MainDiv{

        display: grid;
        grid-template-areas:
            'header header header header header header header'
            'aside main main main main main main';
        grid-template-rows: 7vh 1fr;
        height: 100vh;
    }

    &.ContentHeading{

        padding-right: 2%;
        height: 70px;

        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &.FeaturedContent{

        display: grid;
        grid-template-areas:
            'front title title'
            'front images images'
            'front images images'
            'front images images'
            'front price button';
        align-items: center;
        justify-content: left;

        color: var(--textSecundary);

        height: 300px;
        background-color: var(--windowColor);
        padding: 10px 10px 10px 20px;
        margin-left: 20px;
        gap: 20px;

        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);

        & > .FeaturedContentFront {
            grid-area:front;
            width: 216px;
            height: auto;
        }
        & > .FeaturedContentImages{
            display: flex;
            grid-area:images;
            gap: 30px;

            align-self: center;

            overflow-y: hidden;
            overflow-x: auto;
            scrollbar-color: var(--higlight) var(--windowColor);
            scrollbar-width: thin;

            & > img {
                align-self: center;
                width: 216px;
                height: auto;
                margin-bottom: 5px;
            }
        }
        & > h1{grid-area:title; margin-top: 0; align-self: flex-start;}
        & > p{grid-area:price; margin-bottom: 0; align-self: flex-end;}
        & > button{grid-area:button; margin-bottom: 0; align-self: flex-end;}

    }

    &.ContentLibrary{
        display: flex;
        overflow-x: auto;

        overflow-y:auto;
        overflow-x: hidden;
        scrollbar-color: var(--higlight) var(--windowColor);
    }

    &.line{
        background-color: var(--textColor);
        margin-left: 10px;
        height: 2px;
        width: 100%;
    }

}


header {

    grid-area:header;

    background-color: var(--headerColor);
    height: 7vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 10px;

    & > div.HeaderContainer {
        display: flex;
        align-items: center;
    }
}


aside {

    padding: 3vh 5%;

    grid-area:aside;

    background-color: var(--asideColor);
    height: 97vh;

    & > h2 {
        margin-top: 0;
        margin-bottom: 3px;
        color: var(--textColor);
    }

    & > div.AsideContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        & > label{color: var(--textSecundary);}
    }
    
}


main {

    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;

    padding-left: 2%;

    grid-area:main;

    background-color: var(--mainColor);
    height: 93vh;

    overflow-y:auto;
    overflow-x: hidden;
    scrollbar-color: var(--higlight) var(--windowColor);

}


button {

    &.game-add-button {
        width: 130px;
        background-color: var(--higlight);
        color: var(--texHighlight);
        
        margin-left: 10px;

        border: none;
        padding: 0;
        font: inherit;  
        cursor: pointer;
        outline: none; 
        appearance: none;

        transition: all 0.3s ease-out;
    }
    &.game-add-button:hover {background-color: var(--higlightSelected);}

    &.Tag {
        width: 130px;
        background-color: var(--mainColor);
        color: var(--higlight);
        border: 2px solid var(--higlight);

        padding: 0;
        font: inherit;  
        cursor: pointer;
        outline: none; 
        appearance: none;

        transition: all 0.3s ease-out;
    }
    &.Tag:hover {color: var(--higlightSelected); background-color: var(--windowColor); border: 2px solid var(--higlightSelected);}

}


a {

    & > button {
        width: 130px;
        background-color: var(--headerColor);
        color: var(--higlight);
        border: 2px solid var(--higlight);
        
        margin: 0 10px 0 10px;

        padding: 0;
        font: inherit;  
        cursor: pointer;
        outline: none; 
        appearance: none;

        box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease-out;
    }
    & > button:hover {color: var(--higlightSelected); background-color: var(--windowColor); width: 134px; border: 3px solid var(--higlightSelected);}

}




#offers, #new, #for-you {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Estilos para la caja del juego en pantalla */
.game-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--windowColor);
    color: var(--textSecundary);
    width: 240px;
    padding: 5px;
    margin: 10px;

    transition: all 0.3s ease-out;

    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.3);
}
.game-main:hover {width: 260px;}

.game-main > img {
    width: 90%;
}
.game-main > .game-title {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.game-main > .game-price {
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.game-main > .game-add-button {
    margin: 0 auto;
    width: 100%;
    padding: 5px;
}


form {

    display: flex;
    align-items: stretch;
    
    & > input[type="text"] {
        background-color: var(--headerColor);
        border: 2px solid var(--higlight);
        color: var(--higlight);
    }
    & > input[type="submit"] {
        width: 90px;
        background-color: var(--higlight);
        color: var(--texHighlight);
        border: 1.5px solid var(--higlight);

        padding: 0;
        font: inherit;  
        cursor: pointer;
        outline: none; 
        appearance: none;

        transition: all 0.3s ease-out;
    }
    & > input[type="submit"]:hover {width: 92px; background-color: var(--higlightSelected);}

}