<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../scripts/hub.js" defer></script>
</head>


<body>

    <div class="MainDiv2">


        <header>

            <div class="HeaderContainer">
                <!-- Imagen temporal de la imagen principal de la imagen (porque no se que era lo que estan planeando con este) -->
                <a href="/"><img src="https://storage.needpix.com/rsynced_images/video-game-controller-147039_1280.png" alt="logo" width="35"></a>
            </div>

            <div class="HeaderContainer">
                <a href="aboutUs"><button>About Us</button></a>
            </div>
        </header>


        <main class="AboutUsMain">

            <div class="AboutUs">

                <div class="game-main">
                    <h3 class="game-title">Nicolas Salazar</h3>
                    <p class="game-date">28 / 12 / 1924</p>
                    <img src="../images/members/nicochan.jpg" class="game-boxart">
                    <p class="game-price">$2</p>
                </div>

                <div class="game-main">
                    <h3 class="game-title">Santiago Bedoya</h3>
                    <p class="game-date">19 / 9 / 2006</p>
                    <img src="../images/members/Santi.jpeg" class="game-boxart">
                    <p class="game-price">$1000000</p>
                </div>

                <div class="game-main">
                    <h3 class="game-title">Lautaro Biondo</h3>
                    <p class="game-date">9 / 8 / 2006</p>
                    <img src="../images/members/facucchi.jpg" class="game-boxart">
                    <p class="game-price">$0.1</p>
                </div>

            </div>
            
        </main>


    </div>

</body>

</html>
