<!DOCTYPE html>
<hthml>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito de compras</title>
        <link rel="stylesheet" href="../css/browse.css">
    </head>
    <body>
        <header>

            <div class="HeaderContainer">
                <!-- Imagen temporal de la imagen principal de la imagen (porque no se que era lo que estan planeando con este) -->
                <a href="../index.html"><img src="https://storage.needpix.com/rsynced_images/video-game-controller-147039_1280.png" alt="logo" width="35"></a>
                <a href="browser.html"><button>Browse</button></a>
            </div>

            <div class="HeaderContainer">
                <a href="wishlist.html"><button>Wishlist</button></a>
                <a href="cart.html"><button>Cart</button></a>

                <form>
                    <input type="text" id="search" name="search">
                    <input type="submit" value="submit">
                </form>
            </div>
        </header>
    </body>
</hthml>